/*
Foundation
*/

body{
  font-family: 'Lato', sans-serif;
  /*font-size: 18px;*/
  color:#222;
  padding-left: 80px;
  padding-right: 80px;
}

a{
  color:#fb3346;
  color:#fb5f67;
}
a:hover{
 color:#fb5f67; 
}

section{
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  background-color: #fff;
  padding-top: 20px;
  border: none;
  width: 100%;
  height: 140px;
}

.navbar-nav {
  padding-top: 30px;

}

.row {
  padding-top: 20px;
}

.navbar {
  min-height: 140px;
  padding-left: 10%;
  padding-right: 10%;
}

#main{
  background: #efefef;
}

.color{
  /*background: red;*/
}


#video{
  background: #efefef;
}

#profile{}
#profile .container{
  max-width: 960px;
}

#related-posts{}
#related-posts h4{
  text-align: center;
}


