/*
Foundation
*/

body{
  font-family: 'Lato', sans-serif;
  /*font-size: 18px;*/
  color:#4A4A4A;
  padding-bottom: 100px;
}

a{
  color:#c0c0c0;
}
a:hover{
 color:#303030; 
 text-decoration: none;
}

section{
  padding-bottom: 20px;
}

.row {
  padding-top: 20px;
}

.navbar {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0px;
  border: none;
  width: 100%;
  height: 200px;
}

.navbar-brand {
  height: 16%;
  width: 16%;
}

.navbar-nav {
  padding-top: 24px;
}

.navbar-nav > li > a {
  padding-top: 0px;
  text-transform: uppercase;
  color: #4A4A4A;
  text-align: right;
  font-weight: bold;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.author {
  font-size: 14px;
  color: #c0c0c0;
  font-style: italic;
}

.color{
  /*background: red;*/
}

.home-grid-filter {
  margin: 0 18px;

}

.selected {
  color: #303030;
  font-weight: bold;
}

#main{
  background: #efefef;
}

#video{
  background: #efefef;
}

.circle-text {
    width: 100%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #255715; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    font-family: futura;
    font-size: 32px;
}

#mission {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  float: left;
  padding-left: 8%;
  padding-top: 2%;
  width: 50%;
}

#profile{}
#profile .container{
  max-width: 960px;
}

#related-posts{}
#related-posts h4{
  text-align: center;
}


